In [2]:
import numpy as np
import pandas as pd

In [3]:
#Información obtenida del Centro para el Control y la Prevención de Enfermedades
#Web oficial de USA: https://www.cdc.gov/spanish/

df_brainstroke = pd.read_csv("./data/brain_stroke.csv")
df_brainstroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

# ¿Accidente o enfermedad?: Principales causas de los ACVs y cómo evitarlos

## Puntos de Partida de mi EDA:

1) La presencia de hipertensión aumenta el riesgo de sufrir un ACV.

2) Un IMC (BMI) elevado incrementa la probabilidad de sufrir un ACV.

3) Los fumadores son más propensos a padecer un ACV.

4) Influencia de la edad y el género.

5) Relación entre la incidencia de accidentes cerebrovasculares e infartos.

6) Estilo de vida (zona de residencia).

7) Estado civil.

## Análisis del Dataset

1) La correlación entre la hipertensión y el tabaquismo aumenta el riesgo de accidentes cerebrovasculares.

2) ¿Hay un impacto diferencial en el riesgo de sufrir accidentes cerebrovasculares dependiendo del sexo?. ¿Qué pasa si ademas del sexo, incluímos condiciones como la diabetes?

3) Las personas con un historial familiar de ACVs presentan un mayor riesgo al combinarse con un estilo de vida sedentario y una dieta poco saludable. NO COMPROBABLE CON LOS DATOS OBTENIDOS

4) La presencia de enfermedades cardíacas empeora la recuperación post-ACV.
Análisis: evaluar los resultados de pacientes con y sin enfermedades cardíacas comórbidas. DataFrame de ataques cardíacos para sumar información. NO COMPROBABLE A FALTA DE DATOS DE RECUPERACIÓN

5) Evaluar la correlación entre el tipo de vida o zona de residencia y el estatus civil con la tendencia a sufrir accidentes cerebrovasculares.

En este Dataset me faltan datos importantes, como por ejemplo, la actividad física de los individuos, el historial familiar y las enfermedades cómorbidas, principalmente cardíacas. Voy a trabajar con datasets complementarios.

### Posibles Conclusiones:
#### OJO: Para pensar: ¿ACV o ECV?
Habiendo planteado el punto de partida para el estudio de los accidentes cerebrovasculares me surge una pregunta importante que estará relacionada a la conclusión de mi EDA: 

- ¿Podemos seguir considerando a los ACVs accidentes? En principio mi hipótesis sería modificar la manera en que nos referimos a ellos. Quiero demostrar que son enfermedades y no accidentes.

- ¿Teniendo un modelo que nos dé una predicción cercana al 100% podemos tratar los ACVs y prevenirlos? Se puede predecir con un alto nivel de exactitud si la persona es propensa a sufrir de un ACV teniendo la correlación de lo anteriormente mencionado: diabetes, tabaquismo, IMC, problemas cardíacos e hipertensión.

- La influencia del estilo de vida es una de las principales causas de ACVs (estrés).

- Es cierto que la edad tiene una influencia muy importante, pero no lo considero como el causante principal. Ahora, si relaciono el desgaste que tiene una persona a lo largo de su vida con lo anteriormente mencionado, voy a ver una tendencia importante.

- Los ACVs son una de las causas principales de fallecimientos anuales a nivel mundial.

#### Diferencia entre accidente y enfermedad:
- ACCIDENTE: suceso eventual que altera el orden regular de las cosas.
- La OMS define a la ENFERMEDAD como "Alteración o desviación del estado fisiológico en una o varias partes del cuerpo, por causas en general conocidas, manifestada por síntomas y signos característicos, y cuya evolución es más o menos previsible".

In [4]:
#Primero reviso los datos
df_brainstroke

#Información obtenida del Centro para el Control y la Prevención de Enfermedades
#Web oficial de USA: https://www.cdc.gov/spanish/

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [5]:
#Tipo de objetos con los que voy a trabajar
df_brainstroke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   object
 5   work_type          4981 non-null   object
 6   Residence_type     4981 non-null   object
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   object
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 428.2+ KB

In [6]:
#Principales estadísticas del DataFrame
df_brainstroke.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000,4981.000000
mean,43.419859,0.096165,0.055210,105.943562,28.498173,0.049789
std,22.662755,0.294848,0.228412,45.075373,6.790464,0.217531
min,0.080000,0.000000,0.000000,55.120000,14.000000,0.000000
25%,25.000000,0.000000,0.000000,77.230000,23.700000,0.000000
50%,45.000000,0.000000,0.000000,91.850000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,113.860000,32.600000,0.000000
max,82.000000,1.000000,1.000000,271.740000,48.900000,1.000000

In [7]:
#Busco valores nulos
df_brainstroke.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [8]:
#Valores únicos
df_brainstroke.nunique()

gender                  2
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               4
Residence_type          2
avg_glucose_level    3895
bmi                   342
smoking_status          4
stroke                  2
dtype: int64

In [9]:
#Los hombres almacenados en una variable
male = df_brainstroke[df_brainstroke["gender"] == "Male"]
male

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
5,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
13,Male,64.0,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
...,...,...,...,...,...,...,...,...,...,...,...
4974,Male,58.0,0,0,Yes,Govt_job,Urban,84.94,30.2,never smoked,0
4975,Male,31.0,0,0,No,Private,Urban,215.07,32.7,smokes,0
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0

In [10]:
#Personas que han sufrido ACVs en general
stroke = df_brainstroke[df_brainstroke["stroke"] == 1]
stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4815,Male,79.0,0,0,Yes,Private,Rural,114.77,27.2,formerly smoked,1
4816,Male,74.0,0,0,Yes,Private,Urban,167.13,28.7,Unknown,1
4817,Female,76.0,1,1,Yes,Self-employed,Urban,199.86,31.7,smokes,1
4818,Male,74.0,0,0,Yes,Self-employed,Rural,60.98,28.1,never smoked,1
4819,Male,71.0,1,0,Yes,Self-employed,Rural,87.80,30.8,Unknown,1

In [11]:
#Las mujeres almacenadas en una variable
female = df_brainstroke[df_brainstroke["gender"] == "Female"]
female

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
6,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
7,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
8,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4968,Female,78.0,1,1,Yes,Private,Rural,206.53,31.2,never smoked,0
4969,Female,70.0,0,1,Yes,Self-employed,Rural,65.68,28.6,Unknown,0
4970,Female,70.0,0,1,Yes,Self-employed,Urban,240.69,30.9,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [12]:
#Mujeres que han sufrido ACVs
female[female["stroke"] == 1]

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
6,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
7,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
8,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4810,Female,79.0,1,1,No,Self-employed,Rural,60.94,28.8,never smoked,1
4811,Female,78.0,0,0,Yes,Self-employed,Rural,60.67,27.1,formerly smoked,1
4812,Female,80.0,0,0,Yes,Govt_job,Urban,110.66,27.3,Unknown,1
4813,Female,77.0,0,0,No,Private,Urban,81.32,28.1,Unknown,1
4817,Female,76.0,1,1,Yes,Self-employed,Urban,199.86,31.7,smokes,1

In [13]:
#Hombres que han sufrido ACVs
male[male["stroke"] == 1]

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
5,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
13,Male,64.0,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
...,...,...,...,...,...,...,...,...,...,...,...
4814,Male,61.0,0,1,Yes,Private,Urban,209.86,32.9,Unknown,1
4815,Male,79.0,0,0,Yes,Private,Rural,114.77,27.2,formerly smoked,1
4816,Male,74.0,0,0,Yes,Private,Urban,167.13,28.7,Unknown,1
4818,Male,74.0,0,0,Yes,Self-employed,Rural,60.98,28.1,never smoked,1
4819,Male,71.0,1,0,Yes,Self-employed,Rural,87.80,30.8,Unknown,1

In [17]:
#Una variable para los casados
married = df_brainstroke[df_brainstroke["ever_married"] == "Yes"]
married.count()

gender               3280
age                  3280
hypertension         3280
heart_disease        3280
ever_married         3280
work_type            3280
Residence_type       3280
avg_glucose_level    3280
bmi                  3280
smoking_status       3280
stroke               3280
dtype: int64

In [24]:
#Número de personas casadas que han sufrido ACVs
stroke_by_marriage = married[married["stroke"] == 1]
stroke_by_marriage.count()

gender               219
age                  219
hypertension         219
heart_disease        219
ever_married         219
work_type            219
Residence_type       219
avg_glucose_level    219
bmi                  219
smoking_status       219
stroke               219
dtype: int64

In [16]:
stroke_by_marriage["age"].describe()

count    219.000000
mean      68.146119
std       11.459807
min       32.000000
25%       59.000000
50%       71.000000
75%       78.000000
max       82.000000
Name: age, dtype: float64